spring:
  profiles:
    active: dev
  config:
    import:
  #      - classpath:application-${spring.profiles.active}.yml
  servlet:
    multipart:
      enabled: true #开启文件上传
      max-file-size: 20MB #限制文件上传大小为20M
  docker:
    compose:
      enabled: false
  messages:
    basename: i18n/messages
    use-code-as-default-message: true
  data:
    redis:
      database: 0
      host: 127.0.0.1
      port: 6379
  datasource:
    #druid连接池配置
    druid:
      initial-size: 5 #连接池初始化大小
      min-idle: 10  #最小空闲连接数
      max-active: 20  #最大连接数
      maxWait: 60000  #最大等待时间，配置获取连接等待超时，时间单位都是毫秒ms
      timeBetweenEvictionRunsMillis: 60000  #间隔时间，检测需要关闭的空闲连接的
      minEvictableIdleTimeMillis: 300000  #连接在池中最小生存的时间
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: true
      testOnReturn: true
      poolPreparedStatements: true
      filters: stat,wall  # 配置监控统计拦截的filters，去掉后监控界面sql无法统计
      maxPoolPreparedStatementPerConnectionSize: 10000  #最大PSCache连接
      useGlobalDataSourceStat: true

      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500 #通过connectProperties属性来打开mergeSql功能；慢SQL记录
      web-stat-filter:
        enabled: true #默认为false，设置为true启动
        url-pattern: "/*"
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*" #不统计这些请求数据
      stat-view-servlet:
        url-pattern: "/druid/*"
        allow: 127.0.0.1
        login-username: travis0115
        login-password: yatuier95.
        deny: #禁止那些ip
        reset-enable: true  #是否可以重置
        enabled: true

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml #在classpath前添加星号可以使项目热加载成功
  global-config:
    banner: false #控制台是否打印banner
    db-config:
      logic-delete-field: del_flag
      logic-delete-value: 1 #逻辑已删除值
      logic-not-delete-value: 0 #逻辑未删除值
      id-type: assign_id  #全局默认主键类型

jasypt:
  encryptor:
    password: m6PJ96LvJ10ht6TF
    algorithm: PBEWITHHMACSHA512ANDAES_256

application:
  zone-id: Asia/Shanghai
  #线程池
  thread-pool:
    #名为taskExecutor的线程池
    task-executor:
      #核心线程数
      core-pool-size: 50
      #最大线程数
      max-pool-size: 5000
      #队列容量
      queue-capacity: 5000
      #线程活跃时间（秒）
      keep-alive-seconds: 60