spring:
  profiles:
    active: dev
  config:
    import:
  #      - classpath:application-${spring.profiles.active}.yml
  cache:
    type: redis

  servlet:
    multipart:
      enabled: true #开启文件上传
      max-file-size: 20MB #限制文件上传大小为20M
  docker:
    compose:
      enabled: false
  messages:
    basename: i18n/messages
    use-code-as-default-message: true
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      repositories:
        enabled: false  #项目未使用到 Spring Data Redis 的 Repository，所以直接禁用，保证启动速度
  jackson:
    time-zone: Asia/Shanghai
    locale: zh-CN
    date-format: yyyy-MM-dd HH:mm:ss
    deserialization:
      fail_on_unknown_properties: true  #若存在无法匹配的属性抛出异常


  datasource:
    type: com.alibaba.druid.pool.DruidDataSource  #指定使用Druid连接池
    druid:
      #连接池核心参数
      initial-size: 5 #连接池初始化大小
      min-idle: 10  #最小空闲连接数
      max-active: 20  #最大连接数
      max-wait: 60000  #连接超时时间，时间单位都是毫秒ms
      time-between-eviction-runs-millis: 60000  #连接检测周期
      min-evictable-idle-time-millis: 300000  #连接在池中最小生存的时间
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true #空闲时检测连接有效性
      test-on-borrow: false  #获取连接时检测
      test-on-return: false # 归还连接时检测
      pool-prepared-statements: true #是否缓存preparedStatement，也就是PSCache
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500 #通过connectProperties属性来打开mergeSql功能；慢SQL记录
      use-global-data-source-stat: true #开启全局监控
      #监控配置
      stat-view-servlet:
        enabled: true #启用监控页面
        url-pattern: "/druid/*" #监控页面访问路径
        allow: 127.0.0.1  #允许访问的IP（默认所有IP）
        deny: #禁止访问的IP
        login-username: travis0115  #监控页面用户名
        login-password: yatuier95.  #监控页面密码
        reset-enable: true  #是否可以重置

      #SQL监控与防注入配置
      filters: stat,wall  # 启用统计插件和防注入插件
      filter:
        stat:
          log-slow-sql: true  #记录慢查询
          slow-sql-millis: 2000 #慢查询阈值（2秒）
          merge-sql: true #合并相同SQL的统计结果
        wall:
          config:
            multi-statement-allow: true #允许执行多语句SQL
      #Web统计过滤器配置项
      web-stat-filter:
        enabled: true #启用web统计过滤器
        url-pattern: "/*"
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*" #不统计这些请求数据

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml #在classpath前添加星号可以使项目热加载成功
  global-config:
    banner: false #控制台是否打印banner
    db-config:
      logic-delete-field: del_flag
      logic-delete-value: 1 #逻辑已删除值
      logic-not-delete-value: 0 #逻辑未删除值
      id-type: assign_id  #全局默认主键类型


application:
  zone-id: Asia/Shanghai
  #线程池
  thread-pool:
    #名为taskExecutor的线程池
    task-executor:
      #核心线程数
      core-pool-size: 50
      #最大线程数
      max-pool-size: 5000
      #队列容量
      queue-capacity: 5000
      #线程活跃时间（秒）
      keep-alive-seconds: 60